:root{
    --vermelho:#E50914;
    --preto:rgb(20, 20, 20);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* Base */

body{
   background: var(--preto);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #fff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-top: 7px;
    width: 170px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*  Filme Principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)) ,url('../img/capa.jpg');

    height: 450px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 90px;
}

.titulo{
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0,.50);
    border: none;
    color: #fff;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;

    transition: .3s ease all;
}

.botao:hover{
    background-color: #fff;
    color: black;
}

.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 10px;
}


/* Galeria Filmes */

.galeria-filmes{
    width: 98%;
    margin: auto;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
}

.galeria-filmes .linha{
    display: flex;
    justify-content: space-between;
    
}

.linha .capas {
    position:relative;
    display:inline-block;
    margin:2rem 1rem;
    width:150px;
    height:225px;
    border-radius:5px;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    background: #fff;
    background-size: 100%;

    cursor: pointer;
}

.linha .capas:after{
    position:absolute;
    width:100%;
    height:100%;
    background-color:#0CF;
    opacity:1;
    border-radius:5px;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.3);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}

.linha .capas:hover{
    transform:scale(1.25,1.25);
  }
  
.linha .capas:hover::after{
opacity:1;
}

/* Trocando capas galeria de filmes */

#c1{
    background-image: url(../img/min01.jpg);
}

#c2{
    background-image: url(../img/min02.jpg);
}

#c3{
    background-image: url(../img/min03.jpg);
}

#c4{
    background-image: url(../img/min04.jpg);
}

#c5{
    background-image: url(../img/min05.jpg);
}

#c6{
    background-image: url(../img/min06.jpg); 
}

/* Janelas Popup */

@keyframes transicao-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes transicao-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.popup{
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 900px;
    height: 650px;
    border-radius: 7px;
    background-color: #141414;
    display: none;
    box-shadow: 2px 2px 71px 12px rgba(0,0,0,0.52);
}

.popup .topo-janela{
    background: #fff; /*Imagem do topo*/
    
    border-radius: 7px 7px 0px 0px;
    height: 300px;
    padding: 0 20px;
    
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infos{
    display: flex;
    flex-direction: column;
}

.titulo-janela{
    margin-top: 10%;
    font-size: 40px;
}

.descricao-janela{
    margin-top: 10px;
    width: 70%;
}

.infos button{
    width: 200px;
    padding: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.infos button:hover{
    background-color: #141414;
    color: #fff;
}

.sair{
    display: flex;
    flex-direction: column;
}

.sair button{
    margin-top: 20px;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.sair button:hover{
    background-color: #141414;
    color: #fff;
}

.lista-janela{ 
    display: flex;
    flex-direction: column;

    padding: 0 20px;
    margin-top: 15px;

    color: #fff;
}

.lista-janela h3{
    cursor: pointer;
}

.lista-janela i{
    cursor: pointer;
}

.elemento-lista{
    border-top: 1px solid #808080;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px 0;
}

.btn-lista{
    width: 40px;
    display: flex;
    justify-content: space-between;
}

/* Alterando capas das janelas */

#f1 .topo-janela{
    background: linear-gradient(to bottom, transparent 0%, #141414 100%), url('../img/capa-janela/capa01.jpg'); 
    background-size: 100%;
}

#f2 .topo-janela{
    background: linear-gradient(to bottom, transparent 0%, #141414 100%), url('../img/capa-janela/capa02.jpg'); 
    background-size: 100%;
}

#f3 .topo-janela{
    background: linear-gradient(to bottom, transparent 0%, #141414 100%), url('../img/capa-janela/capa03.jpg'); 
    background-size: 100%;
}

#f4 .topo-janela{
    background: linear-gradient(to bottom, transparent 0%, #141414 100%), url('../img/capa-janela/capa04.jpg'); 
    background-size: 100%;
}

#f5 .topo-janela{
    background: linear-gradient(to bottom, transparent 0%, #141414 100%), url('../img/capa-janela/capa05.jpg'); 
    background-size: 100%;
}

#f6 .topo-janela{
    background: linear-gradient(to bottom, transparent 0%, #141414 100%), url('../img/capa-janela/capa06.jpg'); 
    background-size: 100%;
}


